<mat-sidenav-container class="example-sidenav-container"
                      [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
              [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list *ngIf="Plaines">
      <a mat-list-item routerLink="." *ngFor="let plaine of Plaines">{{plaine.nomPlaine}} ({{plaine.dateDebut | date:'y'}})</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
  <!-- Content -->
  <tab-animateur></tab-animateur>

  </mat-sidenav-content>
</mat-sidenav-container>




